@model IEnumerable<ResourceModel>
@*Generated from Custom Template.*@
@*Model namespace using directive should be added to _ViewImports.cshtml.*@

@{
    ViewData["Title"] = "Resource List";
}

<h1>@ViewData["Title"]</h1>

@if (TempData["Message"] is not null)
{
	<p class="bg-warning text-dark">@TempData["Message"]</p>
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<p class="bg-info text-black">@Model.Count() resource(s) found.</p>

@* TODO: DataTables*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScoreOutput)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOutput)
            </th>
			@* TODO: Users count (UserCountOutput)*@
			<th></th>
        </tr>
    </thead>
    <tbody>
		@foreach (var item in Model) {
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Title)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.ScoreOutput)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.DateOutput)
					</td>
					@* TODO: Users count (UserCountOutput)*@
					<td>
						<a asp-action="Details" asp-route-id="@item.Id">Details</a>&nbsp;|&nbsp;
						<a asp-action="Edit" asp-route-id="@item.Id">Edit</a>&nbsp;|&nbsp;
						@* TODO: AlertifyJS *@
					</td>
				</tr>
		}
    </tbody>
</table>



